
<ion-content>

  <div class="login-logo">
    <img src="assets/img/logo.png" alt="Alrededor">
  </div>
  <div class="page-msg">
    <h2>Forgot Your Password?</h2>
    <p>Enter your email address & we will send you <br> instructions to reset your password.</p>
  </div>

  <form #forgotpassword="ngForm" novalidate>
    <ion-list lines="none">
     
      <ion-item>
        <ion-label position="stacked" color="primary">Email address</ion-label>
        <ion-input [(ngModel)]="forgotpassword.username" name="emailaddress" type="text" #forgotpassword="ngModel"  required >
        </ion-input>
      </ion-item>

    </ion-list>
    
    <div class="ion-padding">
      <ion-button [routerLink]="['/otp']"  type="submit" expand="block">Continue</ion-button>
    </div>
  </form>
  

</ion-content>
